<!DOCTYPE html>
<html>
<head lang="en" ng-app="BlackBook">
    <meta charset="UTF-8">
    <title>Operation Black Book</title>

    <!--<script src="../../config/libs/angular-route/angular-route.js" />-->
    <!--<script src="../../config/libs/angular-touch/angular-touch.js" />-->

</head>
<body>
{{{body}}}

<script src="libs/angular/angular.js" />
<script src="libs/angular-route/angular-route.js" />
<script src="libs/angular-touch/angular-touch.js"/>
<script src="../../../app.js" />
</body>

</html>